.container-contact-form {
    width: 360px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
     font-family: var();
    font-weight: var(--text-weight);
    font-style: Regular;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0%;
}

.contact-form input  { 
    width: 312px;
    margin: 0 auto;
    border: none;
    border-bottom:3px solid var( --tertiary-color);
}

#username { 
    margin: 10px 0;
    height: 40px;
    border-bottom:3px solid var(--secondary-color);
}

#user-tel, #user-email, #user-subject-one, #user-subject-two{ 
    margin: 10px 0;
    width: 312px;
    height: 40px;
}

.contact-form textarea {
    border-radius: 10px;
    margin: 10px 0;
}