/* 
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
} */

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.navigation-menu {
  margin-top: 24px;
}

#menu-toggle {
  display: none;
}

nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 16px;
  background-color: var(--background-tertiary-color);
}

#menu-toggle:checked ~ nav {
  display: block;
}

.list-links {
  list-style: none;
  font-family: "Montserrat";
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

.menu-icon {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #menu-toggle {
    display: none;
  }

  .menu {
    display: block !important;
    position: static;
    background: transparent;
    padding: 0;
  }

  .menu-icon {
    display: none;
  }

  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }

  .navigation-menu nav {
    display: block;
  }

  .list-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
