.hero-img,
.hero-footer {
  height: 400px;
  width: 100%;
}

.hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  text-align: center;
}

.hero-footer {
  background: url(../img/hero-footer-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-pacotes-de-viagem {
  background: url(../img/hero-pacotes-de-viagem.jpg);
  background-size: cover;
  width: 100%;
  height: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--text-secondary-color);
}

.hero-pacotes-de-viagem h1 {
  margin-bottom: 0;
}

.pacote-hero p {
  width: 312px;
  height: 160px;
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 20px;
  }

  .hero-footer {
    height: 400px;
    width: 100%;
    background: url(../img/hero-footer-tablet.jpg) no-repeat;
    background-size: cover;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    width: 100%;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    width: 100%;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 .content-title {
    padding: 38px 160px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-footer {
    height: 600px;
    width: 100%;
    background: url(../img/hero-footer-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
